<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MemoForward's 社区</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/community.css" type="text/css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<!-- 导航条 -->
<div th:replace="nav :: copy"></div>
<!-- 以上是导航条 -->

<!-- 主界面 -->
<div class="container-fluid main">
    <div class="row">
        <!-- 左边栏 -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"/> <label> 发现</label></h2>
            <hr>
            <div class="media" th:each="q: ${pageDTO.questionDTOList}">
                <div class="media-left">
                    <a href="/question" th:href="@{'/question/'+${q.id}}">
                        <img class="media-object img-circle img-size"
                             th:src="${q.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/question" th:href="'/question/'+ ${q.id}" th:text="${q.title}"></a>
                    </h4>
                    <!--                    <span th:text="${q.description}"></span>-->
                    <span class="text-info">
                        <span th:text="${q.commentCount} ?: 0"></span>回复·
                        <span th:text="${q.viewCount} ?: 0"></span>浏览·
                        <!--                        <span th:text="${q.likeCount} ?: 0"></span>小时前-->
                        <span th:if="${q.gmtModified != q.gmtCreate}"
                              th:text="${#dates.format(q.gmtModified, 'yyyy-MM-dd HH:mm')} + ' 编辑'"></span>
                        <span th:if="${q.gmtModified == q.gmtCreate}"
                              th:text="${#dates.format(q.gmtCreate, 'yyyy-MM-dd HH:mm')} + ' 发布'"></span>
                        <hr>
                    </span>
                </div>
            </div>
            <!-- 页码 -->
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:if="${pageDTO.hasPre == false}" class="disabled">
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li th:if="${pageDTO.hasPre == true}">
                        <a href="/getPage" th:href="@{/getPage(page=1)}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li th:each="page: ${pageDTO.pages}" th:class="${page == pageDTO.curPage} ? 'active':'' ">
                        <a href="/getPage" th:href="@{/getPage(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pageDTO.hasNext == false}" class="disabled">
                        <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li th:if="${pageDTO.hasNext == true}">
                        <a href="/getPage" th:href="@{/getPage(page=${pageDTO.totalPage})}" aria-label="Next"><span
                                aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 右边栏 -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            1. ------------<br>
            2. ------------<br>
            3. ------------<br>
        </div>
    </div>

</div>
</body>
</html>